<div>
    <img src="{{this.image_url}}" alt="beer" width="100px">
</div>
<div>
    <p> {{this.name}}</p>
    <br>
    <p> {{this.description}}</p>
    <br>
    <p> {{this.tagline}}</p>
    <br>
</div>