<div class="d-flex flex-column image2">
 
  <img src="./images/beer.png" alt="Beer image" style="max-width:400px">
    <a href="/beers" >Check the Beers!</a>
    <a href="/random-beer" >Check a Random Beer</a>



</div>